
:root{
    --primary-color: #26abb4;
    --primary-dark-color: #292929;
}

body{
    /* overflow: hidden; */
    padding: 0px;
    margin: 0px;
    background-color: rgb(49, 49, 49);
}

li{
    margin: 0px;
}

.bg-primary{
    background-color: var(--primary-color) !important;
}

.bg-primary-dark{
    background-color: var(--primary-dark-color) !important;
}

/* NAVBAR SEARCH BARH */
input[type = "search"]{
    background-color:  rgb(219, 219, 219);
    border: none;
    color: black;
}

input[type = "search"]::placeholder{
    color:  rgb(122, 122, 122);
    margin-left: 20px; 
}

.nav-link>a{
    color: rgb(177, 177, 177);
    margin-right: 5px;    
}

li.nav-link>a:hover{
    text-decoration: none;
    color:rgb(219, 219, 219);
}

#cartShop{
    color: var(--primary-color);
}

/* MY OWN DROPDOWNS STYLE */
.drop{
    position: relative;

}

a.drop:hover{
    text-decoration: none;
    color: rgb(219, 219, 219);
}

.drop-list{
    top: 35px;
    position: absolute;
    background: #3d3d3d;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    list-style: none;    
    display: none;
    /* top: 10px; */
}

.drop-list>li{
    margin-top: 3px;
    color: rgb(219, 219, 219);
    font-size: 16px;
}



.btn{
    border: none;
}

.btn-primary{
    background-color: var(--primary-color) !important;
}

/* .nav-link:hover{
   border-bottom: 1px solid var(--primary-color);
   font-size: 17px;
} */

.jumbotron>h1{
    padding: 15px;
    font-size: 60px;
    font-family: 'Heebo', sans-serif;
    color: rgb(219, 219, 219);
    background-color: var(--primary-color);
    background-color: rgb(15, 15, 15, 0.5);
    width: 50%;
}

.jumbotron>p{
    padding: 15px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 22px;
    background-color: rgb(15, 15, 15, 0.5);
}

.solutions{
    height: 60vh;
    background-image: url("/assets/img/setupx4033px.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
}

.store{
    height: 50vh;
    background-image: url("/assets/img/nzxt.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* PERSPECTIVE PC IMAGE */
.perspective-pc{
    height: 60vh;
    background-image: url("/assets/img/perspective-bg.webp");    
    background-position: 320px;
    background-repeat: no-repeat;
    
}

/* FEATURES LIST */
.build-features{      
    color: rgb(219, 219, 219);
}

.build-features div>h2{
    padding-top: 5px;
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;    
}

.build-features div>p{    
    font-family: 'Quicksand', sans-serif;
    font-size: 24px; 
    color: var(--primary-color);
}

.build-features>h2{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    font-family: 'hebbo', sans-serif;

}

.features-list{
    border-radius: 3px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #3d3d3d;
}

.features-list>li{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.features-list>li i{
    color: var(--primary-color);
}

/* PRODCUT CARD */
.card{
    background-color: #3d3d3d;
    color: rgb(219, 219, 219);
    font-family: 'hebbo', sans-serif;
}

#price

footer{
    background-color: var(--primary-dark-color);
    margin-top: 120px;

}

.paymentIcon{    
    max-width: 90px;
    max-height: 90px;
}

.paymentMethods{
    border-top: 3px solid rgb(214, 214, 214);
}

.paymentIcon:hover{
    border-bottom: 3px solid var*var(--primary-color);
    size: 2px;
    cursor: pointer;
}

/* a:hover{
    text-decoration: none;
    color: black;
}

.footer-links{
    border-right: 2px solid rgb(214, 214, 214);
}

.footer-links ul>li.nav-link a{
    color: black;
    font-size: 14px;
} */
