
:root {
    --dark: rgb(49, 49, 49);
    --input-color: rgb(165, 165, 165);
    --placeholder-color: rgb(122, 122, 122);
    --primary-color: #26abb4;
    --darkness: #292929;
    --secondary-color: #3d3d3d;
    --light: rgb(219, 219, 219);
    --banner-text-color: rgb(15, 15, 15, 0.5);
    --lightness: rgb(214, 214, 214);
    --danger: rgba(107, 10, 10);
    --bg-danger: rgba(107, 10, 10, 0.5);
    --bg-transparent: rgba(0,0,0,0.5);

    --principal-font: 'Hebbo', sans-serif;
    --secondary-font: 'Quicksand', sans-serif;

    --link-size: 1rem;
    --header-size: 3rem;
  }

  body {
    /* overflow: hidden; */
    padding: 0px;
    margin: 0px;
    background-color: var(--dark);
    /* overflow-x: hidden; */
  }

*:focus{
    outline: none !important;
}

.fs-1{
  font-family: var(--principal-font);
  color: var(--light);
}

.fs-6{
  font-family: var(--secondary-font);
}

ul{
  list-style: none;
}

.btn.btn-primary{

  background-color: var(--primary-color);
  border: none;

}

button:hover{
    color: var(--light) !important;
}
  
  .navbar{

    background-color: var(--darkness);
    font-family: var(--secondary-font);
    font-size: var(--link-size);
    color: var(--light);
    
  }

  .nav-link{
    color: var(--light);
  }

  .nav-item{
      margin-left: 10px;
      margin-right: 10px;
  }

  a.nav-link:hover{
    color: white;
  }

  [active]{
      color: var(--primary-color);
  }

  [active]:hover{
      color: var(--primary-color) !important;
  }

  input[type='text'],[type='email']{

    background-color: var(--secondary-color);
    font-family: var(--secondary-font);
    border: none;
    height: 35px;

  }

  input[type="text"]::placeholder,input[type="email"] {
    color: var(--light);
    padding-left: 20px;
  }

.jumbo{  
  color: var(--light);
  font-family: var(--principal-font) !important;
  /* background-image: url("https://images10.newegg.com/BizIntell/item/11/553/11-553-048/3.jpg");  */
  height: 50vh; 
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover;
}

.jumbo>p+p{
  font-family: var(--secondary-font) !important;
}

/* .jumbo{

    font-family: var(--principal-font);
}

.jumbo>.tittle{
      font-size: var(--header-size);
      color: var(--light);
      font-weight: bolder;
      margin: 4%;
      background-color: var(--bg-transparent)
  }

.jumbo>p+p{
    margin: 5%;
    margin-top: 8%;
    font-size: 2em;
    color: var(--light);
    background-color: var(--bg-transparent);
  }

.jumbo>button{

    font-family: var(--principal-font);
    font-size: 18px;
    margin-left: 5%;
    color: var(--lightness);
    background-color: var(--primary-color);
    outline: none;

} */

.prev,.next{
    font-size: 36px;
    color: var(--primary-color);
    margin: 3%;    
}

.prev:hover,.next:hover{
    font-size: 40px;
}

[bg-active]{

  background-image: url("../img/perspective-bg.webp");
  background-position: left;
  background-repeat: no-repeat;

}

.row> div.col-lg-6+div.col-lg-6>h2,div.col-sm-12+div.col-lg-6>h2{

  font-family: var(--secondary-font);
  font-size: 24px;
  font-weight: bolder;
  color: var(--light);
  padding-left: 5%;

}

.row> div.col-lg-6+div.col-lg-6>h2>p,.col-sm-12+div.col-lg-6>h2>p{
  color: var(--primary-color);
}

.features{
  color: var(--lightness);
  font-family: var(--principal-font);
  font-size: 28px;
  padding-left: 5%;
}

.features>div{
  background-color: var(--secondary-color);
  border-radius: 5px;
  font-family: var(--secondary-font);
  font-size: 16px;
  padding: 2%;
}

.fa-check-circle{
  color: var(--primary-color);
}

.card{
  background-color: var(--secondary-color);
  margin: 15px;
  padding: 5px;
}

.card-text{
  font-family: var(--principal-font);
  font-size: 18px;
  color: var(--light);
}

.card-body>.row>div>a.btn{
  font-family: var(--secondary-font);
  font-weight: bolder;
  color: var(--light);
  font-size: 14px;  
  background-color: var(--primary-color);
  margin-top: 5px;
}

.card-body>.row>div>p{
  
  font-family: var(--principal-font);
  font-size: 16px;
  color: var(--primary-color);

}


.news-letter{

  padding: 2%;
  color: var(--light);
  background-image: url("../img/Oval.svg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-position-x: 195px;
  
}

/* .news-letter>form input[type='text']{
  background-color: var(--secondary-color);
} */

.news-letter>h3{
  
  font-family: var(--principal-font);
  font-weight: bolder;
  font-size: 42px;
  padding: 10px;
}

.news-letter>p{
  
  font-family: var(--secondary-font);
  font-size: 18px;

}

.news-letter>small{

  font-family: var(--secondary-font);
  font-weight: lighter;
  font-size: 14px;

}

.news-letter>small>a{

  text-decoration: none;
  color: var(--lightness);
  font-weight: bold;
}

footer{
  background-color: var(--secondary-color);
  padding: 0px;
  margin: 0px;
  font-family: var(--secondary-font);
  color: var(--light);
  font-size: 18px;
}

f/* ooter a{

  text-decoration: none;
  color: var(--light);

}

footer a:hover{

  color: red;

}

footer h4{

  font-family: var(--principal-font);
  font-weight: bold;

}

[brand]{

  font-family: 'Ubuntu', sans-serif;
  font-size: 34px;

} */

.footer {
  color: var(--link-color);
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

.footer h4 {
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: "hebbo", sans-serif;
  font-weight: bolder;
  text-align: center;
}

h4.footer-brand {
  font-family: "Ubuntu", sans-serif;
  color: var(--link-color);
  font-size: 45px;
  text-align: center;
  font-weight: bolder;
}

.footer-link li {
  text-align: justify;
  font-size: 18px;
  list-style: none;
}

.footer-link a {
  color: var(--link-color);
}

.footer-link a > b {
  color: var(--link-color);
}