
.header>h1{
    color: var(--link-color);
    font-size: 45px;
    font-family: 'Heebo', sans-serif;
    font-weight: bolder;        
}

.recent-order{
    max-height: 70vh; 
    overflow: hidden; 
    overflow-y: scroll;
    box-shadow: 10px 10px 5px var(--primary-dark-color);
}

.order{
    font-family: 'Quicksand', sans-serif;
    color: var(--newslatter);
    font-style: italic;
    font-size: 14px
}

div.order.card:hover{
    border: 2px solid var(--primary-color);
}   

.order>h2{
    font-size: 24px;
    font-weight: bolder;
    color: var(--primary-color);
    font-family: 'Heebo', sans-serif;
    font-style: normal;
}

.order>p{
    font-size: 18px;
    color: var(--newslatter);
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
}

.recent-order::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
    border-radius: 3px;
}

.avatar{
    width:150px;
    height:150px;  
    margin: 10px;  
    border-radius: 80px;
    /* margin: 10px; */
}

.welcome>h3{
    font-size: 65px;    
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Heebo', sans-serif;
    font-weight: bolder;
    color: var(--link-color);
    letter-spacing: 3px;
}

.user-controls>.col>.btn{
    height: 75px;
    font-size: 24px;   
    text-align: center;     
}

.left-button{
    right: 80px; 
    top: 10px;
    color: var(--link-color);
    font-size: 24px;
}

.right-button{
    right: 50px; 
    top: 10px;
    color: var(--link-color);
    font-size: 24px;
}

.wish-card a{
    color: var(--link-color);
}

label.error{
    color: var(--link-color);
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
    margin-left: 30px;    
}

input.error{
    border: solid var(--danger);
    background-color: var(--bg-danger);
}